$discount-box-large-breakpoint: 1200px;
$discount-box-medium-breakpoint: 970px;
/* $discount-box-small-breakpoint: 768px; */
$discount-box-xsmall-breakpoint: 604px;

$user-icon-disapear-mobile-breakpoint: 790px;
$user-icon-disapear-icon-breakpoint: 1068px;
$last-smallest-breakpoint: 576px;

$color-primary-dark-light: rgb(68, 67, 67);