
$discount-box-large-breakpoint: 1200px;
$discount-box-large-button-breakpoint: 1000px;
$discount-box-medium-breakpoint: 970px;
/* $discount-box-small-breakpoint: 768px; */
$discount-box-xsmall-breakpoint: 604px;

$user-icon-disapear-mobile-breakpoint: 850px;
$user-icon-disapear-icon-breakpoint: 1068px;
$last-smallest-breakpoint: 576px;
$sidedrawer-sweetspot-mobile: 400px;

$color-primary-dark-light: rgb(68, 67, 67);

:export{
    discountBoxLargereakpoint: $discount-box-large-breakpoint;
    discountBoxMediumBreakpoint: $discount-box-medium-breakpoint;
    discountBoxXsmallBreakpoint: $discount-box-xsmall-breakpoint;
    userIconDisapearMobileBreakpoint: $user-icon-disapear-mobile-breakpoint;
    sidedrawerSweetspotMobile: $sidedrawer-sweetspot-mobile;
    lastSmallestBreakpoint: $last-smallest-breakpoint;

}