@import '../../design-constants/sass-variables';
@import '../../design-constants/sass-mixins';


.bicon{
    cursor: pointer;
}


// .bicon > svg:hover{
//     fill: white;
// }




/* @media screen and (max-width: 1068px){
    .disapear{
        display: none;
    }
} */
@include disapear-on-breakpoint-by-classname($discount-box-medium-breakpoint, "disapear");

@include disapear-on-breakpoint-by-classname($sidedrawer-sweetspot-mobile, "disapear-mobile");

/* @media screen and (max-width: $user-icon-disapear-mobile-breakpoint){
    .disapear-mobile{
        display: none;
    }
} */

