@import '../../design-constants/sass-variables';

.services{
    margin: 12vh 0;
}

.services__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: $user-icon-disapear-mobile-breakpoint){
    .services__container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .services{
        margin: 9vh 0;
    }
}