@import "../design-constants/sass-variables";

.shopscreen{
   background-color: #fafafa; 
   height: 100vh;
}

.shopscreen__banner{
    background-image : url('https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'); 
    background-position : center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopscreen__banner  > h2{
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.shopscreen__dropdown{
    border: 1px solid black;
    position: relative;
    margin: 1rem auto .5rem;
    width: 60vw;
    padding: 0.6rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
}

.shopscreen__dropdown:active{
    border: 1.2px solid black;
}

.shopscreen__dropdownCaption{
    text-align: center;
    color: rgb(94, 93, 93);
    font-style: oblique;
}

.shopscreen__dropdown > h4{
    margin: 0;
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 1.2rem;
    font-style: monospace;
    text-transform: uppercase;
    font-size: 1.1rem;
    // color: var(--red-catchy);
}

.shopscreen__dropdown > i{
    // align-self: flex-start;
    font-size: 1.3rem;
    padding-bottom: .3rem;
}

.shopscreen__dropdownItems{
    position: absolute;
    border: 1px solid black;
    margin: 0;
    transition: opacity 0.4s ease-in-out;
    list-style: none;
    padding: 0;
   background-color: white;
}

.shopscreen__dropdownItem{
    text-transform: uppercase;
    padding-left: 7px;
    padding-top: 5px;
}

.shopscreen__dropdownItem:hover{
    background-color: rgb(245, 241, 241);
}

.shopscreen__products{
    margin-top: 2rem;
    padding: 0 .5rem;
}



