@import '../../design-constants/sass-variables';

.sidedrawer{
    position: fixed;
    z-index: 11;
    background-color: #ffffff;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    transition: all 0.15s ease-out;
}

.sidedrawer > nav{
    width: 100%;
}

.closed{
    transform: translateX(-100%);
}

.open-drawer{
    animation: enter .2s ease-out;
}

.close-drawer{
    transform: translateX(-100%);
}

@keyframes enter{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

// @keyframes leave{
//     0%{
//         transform: translateX(0%);
//     }
//     100%{
//         transform: translateX(-100%);
//     }
// }




@media (max-width: $sidedrawer-sweetspot-mobile){
    
    .sidedrawer{width: 60%;}
}

