

.section__title{
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 500;
}

.section__title::after{
    content: "";
    background-color: rgb(78, 75, 75);
    height: 2px;
    width: 5%;
    display: block;
    margin: .8rem auto;
    
}
