@import '../../design-constants/sass-variables';

.home{

}

.recommended{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

@media (max-width: $user-icon-disapear-mobile-breakpoint){
    .recommended{
       flex-direction: column;
       align-items: center;
    }
}
