@import '../../design-constants/sass-variables';

.home{
    overflow-x: hidden;
}

.home__container{
    max-width: var(--home-container-width);
    margin: auto;
    overflow-x: hidden;
}

.introduction{
    display: flex;
    justify-content: center;
    margin-bottom: 16vh;
    margin-top: 16vh;
    background-color: #faf9f9;
    padding: 5rem 0;
}

@keyframes shaking{
    from{
        transform: rotateZ(-0.6deg) scale(1.01);
    }

    to{
        transform: rotateZ(0.6deg);
    }
}

.introduction__image--shake{
    animation: shaking .2s ease-in  10  none;
}

.introduction__image{
    width: 35%;
    object-fit: contain;
    box-shadow: 2px -2px 16px -9px rgba(0,0,0, .75);
}

.introduction__info{
    width: 40%;
    margin-left: 2rem;
}

.introduction__title{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.introduction__description{
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2.3rem;
    margin-bottom: 2rem;
}

.introduction__author{
    font-size: 1.2rem;
}

.introduction__author > p{
    height: 1px;
    background-color: black;
    width: 1.3rem;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.recommended{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 6rem;
    position: relative;
}

.home__clasicos{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 5rem;
    position: relative;
}

.home__contact{
    position: relative;
    width: 100vw;
    min-height: 60vh;
    background-image: url("https://images.pexels.com/photos/3434523/pexels-photo-3434523.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
    margin-bottom: 3rem;
}

.home__contact--background{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    z-index: 8;
}

.home__contact--front{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    position: absolute;
    z-index: 10;
}

.home__contact__title{
    color: white;
    font-weight: bold;
    text-align: center;
}

.home__contact__subTitle{
    color: white;
    text-align: center;
}

.home__contact__form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__contact__form > input{
    width: 39vw;
    height: 3.2rem;
    padding: 1.5rem;
    outline: none;
    border: none;
}

.home__contact__form > button{
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.21rem;
    outline: none;
    // padding: .2rem;
    border: none;
    background-color: var(--red-catchy);
}

@media (max-width: $user-icon-disapear-mobile-breakpoint){
    .recommended{
       flex-direction: column;
       align-items: center;
    }

    .introduction{
        flex-direction: column;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction__image{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        align-self: center;
    }

    .introduction__info{
        width: 100%;
        margin:0;
        padding: 8px;
    }

    .introduction__title{
        margin: 1rem auto;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .introduction__description{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
}

@media (max-width: $sidedrawer-sweetspot-mobile){
    .introduction__title{
        font-size: 1.3rem;
    }

    .introduction__description{
        font-size: .9rem;
        line-height: 1.7rem;
    }

    .introduction__author{
        font-size: 1rem;
    }

    .recommended{
        justify-content: center;
    }

    .home__contact__form > input{
        width: 60vw;
     
    }
}
