*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: SofiaPro;
    src: url("../src/assets/fonts/sofiapro-light.otf");
}

@font-face{
    font-family: 'Playfair Display';
    src: url('./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face{
    src: url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
    font-family: 'Rock Salt', cursive;
}

:root{
    --custom-primary: #d46802;
    --custom-secondary: #3131fa;
    --red-catchy: #f0003f;
    --discount-box-width: 30%;
    --discount-box-height: 20%;
    --discount-box-small-breakpoint: 768px;
    --discount-box-medium-breakpoint: 1024px;
}

html {
    font-size: 16px;
}

body {
    font-family: SofiaPro, sans-serif;
}

// @media screen and (max-width: 1039px){
//     html{
//         font-size: 15px;
//     }
// }

/* @media screen and (max-width: 640px){
    html{
        font-size: 14.5px;
    }
} */

/* @media screen and (max-width: 470px){
    html{
        font-size: 11px;
    }
} */


@import url("../node_modules/bootstrap/scss/bootstrap.scss");