*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: SofiaPro;
    src: url("../src/assets/fonts/sofiapro-light.otf");
}

:root{
    --custom-primary: #d46802;
    --custom-secondary: #3131fa;
    --red-catchy: #F72E00;
}

html {
    font-size: 16px;
}

body {
    font-family: SofiaPro, sans-serif;
}

// @media screen and (max-width: 1039px){
//     html{
//         font-size: 15px;
//     }
// }

@media screen and (max-width: 640px){
    html{
        font-size: 14.5px;
    }
}

/* @media screen and (max-width: 470px){
    html{
        font-size: 11px;
    }
} */


@import url("../node_modules/bootstrap/scss/bootstrap.scss");