@import '../../../design-constants/sass-variables';

.button{
  
    padding: .9rem 1.8rem;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .9rem;
    font-weight: 800;
    outline: none;
    white-space: nowrap;
}

.button:active,
.button:focus,
.button:hover{
    outline: none;
}

.button:hover{
    background-color: var(--red-catchy);
    transition: all .15s ease;
}

.button-light{
    background: white;
    color: var(--red-catchy);
    font-weight: 800;
}

.button-light:hover{
    color: white;
}

@media (min-width: $discount-box-medium-breakpoint){
    .button{
        padding: .8rem 1.6rem;
    }
}

@media (max-width: $sidedrawer-sweetspot-mobile) {
    .button{
      /*   height: 2.8rem;
        padding: 4px 13px; */
       /*  letter-spacing: 2px; */
        font-size: .6rem;
        padding: 0.9rem 1.8rem;
    }
  } 