@import '../../../design-constants/sass-variables';

.button{
    height: 2.6rem;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .84rem;
    font-weight: 800;
    outline: none;
}

.button:active,
.button:focus,
.button:hover{
    outline: none;
}

.button:hover{
    background-color: var(--red-catchy);
    transition: all .3s ease;
}

.button-light{
    background: white;
    color: var(--red-catchy);
    font-weight: 800;
}

.button-light:hover{
    color: white;
}

@media (max-width: $user-icon-disapear-mobile-breakpoint){
    .button{
       /*  height: 2.8rem; */
        padding: 6px 17px;
        letter-spacing: 1px;
        font-size: .8rem;
    }
}

@media (max-width: $sidedrawer-sweetspot-mobile) {
    .button{
        height: 2.3rem;
        padding: 4px 13px;
       /*  letter-spacing: 2px; */
        font-size: .6rem;
    }
  } 