
.testimonials{
    display: flex;
    transition: all .7s ease-out;
}

.testimony{
    
}

.testimony__photo{

}

.testimony__name{

}

.testimony__comment{

}

.testimonials__pageSwitchersContainer{

}

.testimonials__pageSwitcher{
    cursor: pointer;
}

