@import "../../design-constants/sass-variables";

.discountbox {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  background-color: white;
  min-width: var(--discount-box-width);
  min-height: var(--discount-box-height);
  position: absolute;
  z-index: 1;
  padding: 3% 5%;
  box-shadow: 1px 1px -10px 1px rgba(0, 0, 0, 0.8);
}

.discountbox > h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: $discount-box-large-breakpoint) {
  .discountbox > h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: $discount-box-medium-breakpoint) {
  .discountbox > h1 {
    font-size: 1.9rem;
  }
}

// @media (max-width: $user-icon-disapear-mobile-breakpoint) {
//   .discountbox > h1 {
//     font-size: 1.88rem;
//   }
// }

@media (max-width: $last-smallest-breakpoint) {
  .discountbox > h1 {
    font-size: 1.6rem;
  }
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
