
.discountbox {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    background-color: white;
    min-width: var(--discount-box-width);
    min-height: var(--discount-box-height);
    position: absolute;
    z-index: 1;
    padding: 3% 5%;
    box-shadow: 1px 1px -10px 1px rgba(0,0,0, .8);
}

.discountbox > h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: ){
    .discountbox > h1{
        font-size: 2.7rem;
    }
}

/* @media (max-width: 1130px){
    .discountbox > h1{
        font-size: 2.4rem;
    }
} */


@media (max-width: $discount-box-medium-breakpoint){
    .discountbox > h1{
        font-size: 1.4rem;
    }
}

/* @media (max-width: 880px){
    .discountbox > h1{
        font-size: 2rem;
    }
} */

/* @media (max-width: 768px){
    .discountbox > h1{
        font-size: 1.6rem;
    }
} */

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}