@import '../../design-constants/sass-variables';

.recommended-meal{
    width: 47%;
    height: 25vw;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;

    transition: all .5s ease-out;
}

.recommended-meal__container{
   /*  padding: 1rem; */
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.recommended-meal__title{
    color: white;
    font-size: 2.5rem;
    font-weight: 600;

    // position: absolute;
    // top: 5%;
    // left: 5%;
}

.recommended-meal__container:hover{
    filter: brightness(50%);
    transform: scale3d(1.05,1.05,1.05);//3d es para que no haya ese pequeño rebote luego de escalar la imagen
}

.recommended-meal__shop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    z-index: 10;
}

.recommended-meal__shop:hover ~ .recommended-meal__container{
    filter: brightness(50%);
    transform: scale3d(1.05,1.05,1.05);
}

.recommended-meal--offsetRight{
    opacity: 0;
    transform: translateX(20vw);
}

.recommended-meal--fadeInRight{
    opacity: 1;
    transform: translateX(0vw);
}

.recommended-meal--offsetLeft{
    opacity: 0;
    transform: translateX(-20vw);
}

.recommended-meal--fadeInLeft{
    opacity: 1;
    transform: translateX(0vw);
}



@media (max-width: $user-icon-disapear-mobile-breakpoint){
    .recommended-meal__title{
        font-size: 2.1rem;
        font-weight: 600;
    }

    .recommended-meal{
        width: 100%;
        height: 44vw;
        // margin: 1rem;
    }
}

@media (max-width: $sidedrawer-sweetspot-mobile){
    .recommended-meal__title{
        font-size: 1.7rem;
    }

    .recommended-meal{
        width: 99%;
        height: 44vw;
        margin: .8rem auto;
    }
}