
.catchy-box:hover,
.catchy-box:active{
    background: #fff;
    color: var(--red-catchy);
}

.catchy-box{
    color: #fff;
    padding: .7rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
    background: var(--red-catchy);
    border: 2px solid var(--red-catchy);
    cursor: pointer;
    transition: .2s;
}

