
.catchy-box:hover,
.catchy-box:active{
    background: #fff;
    color: #F72E00;
}

.catchy-box{
    color: #fff;
    padding: .7rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
    background: #F72E00;
    border: 2px solid #F72E00;
    cursor: pointer;
    transition: .2s;
}

