@import '../../design-constants/sass-variables';

.logo {
  
}

.logo img{
    width: 4.5rem;
    height: 4.5rem;
    // margin: .3rem 0;
    border-radius: 50%;
}

@media screen and (max-width: $user-icon-disapear-mobile-breakpoint){
    .logo{
       display: none;
    }
}
