

.nav li {
    display: inline-block;
    margin: 0 .8rem;
} 


.nav li a{
   
        font-family: inherit;
        /* font-style: normal; */
        font-weight: 900;
        font-size: 1.1rem;
        /* padding: 0 20px; */
        color: black;
        text-transform: uppercase;
        text-decoration:  none;

        /* truco para subrayado progresivo */
        background-image: linear-gradient(var(--red-catchy), var(--red-catchy));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size .5s;
       
}

.nav li a:hover{
        color: var(--red-catchy);
        padding-bottom: 5px;

          /* truco para subrayado progresivo */
        background-size: 100% 1px;
        
}

.nav li a.activeLink { 
  color: var(--red-catchy);
}



