@import '../../design-constants/sass-variables';


.productGeneric{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    position: relative;
   
}

.productGeneric__image{
    width: var(--maxwidth-product-generic-lg);
    height: var(--maxheight-product-generic-lg);
    object-fit: cover;
    cursor: pointer;
    box-shadow: 2px 1px 10px -4px black;
}

/* .productGeneric__image:hover{
    filter: brightness(.5);

} */

.productGeneric__title{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.productGeneric__options{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 43%;
    bottom: 35%;
    left: calc(50% - var(--maxwidth-product-generic-lg) * 0.43 / 2);
    visibility: hidden;
    transition: all .2s ease-in;
}

.productGeneric__options--visible
{
    visibility: visible;
    transform: translateY(-35%);
}

.productGeneric__optionsIcon{
    width: 3.5vw;
    height: 3.5vw;
    background-color: white;
    border-radius: 50%;
    padding: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
  
}

.productGeneric__optionsIcon:hover{
    background-color: var(--red-catchy);
}

@media (max-width: $discount-box-large-breakpoint){
    
.productGeneric__image{
    width: var(--maxwidth-product-generic-md);
    height: var(--maxheight-product-generic-md);
  
}

.productGeneric__optionsIcon{
    width: calc(var(--maxwidth-product-generic-md) * 0.17);
     height: calc(var(--maxwidth-product-generic-md) * 0.17);
}

.productGeneric__options{
   
    left: calc(50% - var(--maxwidth-product-generic-md) * 0.43 / 2);
   
}

}

@media (max-width: $user-icon-disapear-mobile-breakpoint){
    
    .productGeneric__image{
        width: var(--maxwidth-product-generic-sm);
        height: var(--maxheight-product-generic-sm);
      
    }

    .productGeneric__optionsIcon{
        width: calc(var(--maxwidth-product-generic-sm) * 0.17);
         height: calc(var(--maxwidth-product-generic-sm) * 0.17);
    }

    .productGeneric__options{
   
        left: calc(50% - var(--maxwidth-product-generic-sm) * 0.43 / 2);
       
    }
    
}

@media (max-width: $last-smallest-breakpoint){

    .productGeneric__options{
        width: 50%;
        left: calc(50% - var(--maxwidth-product-generic-sm) * 0.50 / 2);
       
    }

    .productGeneric__optionsIcon{
  
         padding: 1.2rem; 
    }

    .bicon > svg{
        width: 1.1rem;
        height: 1.1rem;
    }
}


@media (max-width: $sidedrawer-sweetspot-mobile){
    .productGeneric{
       margin-bottom: 4.1rem;
    }

    .productGeneric__title{
        display: inline-block;
        max-width: var(--maxwidth-product-generic-sm);
    }

    .productGeneric__image{
        width: var(--maxwidth-product-generic-xs);
        height: var(--maxheight-product-generic-xs);
    }

    .productGeneric__options{
        display: none;
    }

    .productGeneric__options--visible{
        display: none;
    }

}