// This Component has been styled with mobile first approach

@import '../../design-constants/sass-variables';

a.productshopping{
    text-decoration: none;
    color: black;
}

.productshopping{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 22.5vh;
    box-shadow: 0 0 12px -10px;
    border-radius: 6px;
    margin: .75rem 0;
}

.productshopping:focus{
    filter: brightness(.8);
}

.productshopping > img{
    max-width: 150px;
    height: 90%;
    object-fit: contain;
}

.productshopping__info{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    padding-bottom: 1rem;
    height: 100%;
}

.productshopping__title{
   font-size: 1rem;
   font-family: SofiaProBold;
}

.productshopping__description{
    line-height: 1.2;
    font-size: 1.02rem;
}

.productshopping__price{
    align-self: flex-end;
    color: var(--red-catchy);
    font-weight: 700;
}



// Telefonos pequeños
@media (max-width: $sidedrawer-sweetspot-mobile){
    .productshopping{
        height: 20vh;
        justify-content: space-around;
    }

    .productshopping > img{
        max-width: 120px;
    }

    .productshopping__title{
        font-size: 1rem;
        margin-bottom: 5px;
     }
     
     .productshopping__description{
         line-height: 1.08;
         font-size: .87rem;
         margin-bottom: 5px;
     }
     
     .productshopping__price{
        font-size: .9rem;
     }
}